/* @import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Press+Start+2P&family=Secular+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Secular+One&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato&family=Lora&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato&family=Lora&family=Open+Sans&display=swap');
* {
    font-family:'Open Sans';
}

body {

    /* background-color:#DEE1E6; */
    margin:0px;
}
.Name {
    margin:0px;
    color:white;
}

.header {
    background-color:#202124;
    padding:15px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-radius:15px;
}

.upper__content {
    width: 85%;
    margin:15px auto 15px auto;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow:1px 1px 4px 2px gray;
}

.resume__button {
    color:white;
    background-color:#535353;
    border:none;
    outline-width:0px;
    font-size:18px;
    padding:3px 8px 3px 8px;
    border-radius:5px;
}

.resume__button:hover {
    color:#535353;
    background-color:white;
}


.Name_div {
    display:flex;
    align-items:center;
}

.fa-solid {
    color:white;
    font-size:20px;
    margin-left:10px;
}

.projects-container {
    display:grid;
    gap:20px 20px;
    grid-template-columns: repeat(3,1fr);
    /* margin:0px; */
    width:95%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 30px;
}

.project-container {
    /* border:1px solid gray; */
    /* border-radius: 5px; */
    padding:5px;
    /* box-shadow:1px 1px 4px 2px gray; */
    text-align:center;
    background-color:white;
}

.skills_section {
    display:flex;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    align-items:center;
    justify-content:center;
    /* padding:10px; */
}

.skill_container {
    /* border: 1px solid gray; */
    /* border-radius: 5px; */
    background-color:white;
    width:30%;
    height:675px;
    margin:20px 15px 20px 15px;
}

.skill_type {
    background-color:#535353;
    color:white;
    margin:0px;
    padding:15px;
    border-radius: 5px 5px 0px 0px;
}


.tech-stack {
    text-align: center;
}

img {
    width:100%;
}

.project-content {
    display:flex;
    flex-direction:column;
}

.project-title {
    margin:0px;
    text-align:center;
}

.project-essentials {
    margin:0px;
}

.fa-brands {
    font-size:20px;
}

.fa-chrome {
    margin-left:10px;
}

.project-description {
    padding:3px;
}

a {
    color:#3b5998;
    font-weight:600;
    text-decoration:none;
}

.footer-nirbhay {
    /* background-color:#F2AA4CFF; */
    text-align:center;
    padding:30px;
}


.credentials {
    margin-bottom:5px;
    /* display:flex; */
}

.profile-pic {
    width:auto;
    height:200px;
    border:2px solid black;
    border-radius:50%;
}

.about-content {
    display:flex;
    align-items:center;
    justify-content:center;
    padding:7vh;
}

.my_name {
    font-weight:800px;
    font-size:7vw;
    font-style:oblique;
    margin-left:10px;
    margin-top:0px;
    margin-bottom:0px;
}

.name_div {
    display:flex;
    flex-direction:column;
}

.about-section {
    margin-left:auto;
    margin-right:auto;
    /* background-color:#F2AA4CFF; */
    padding:30px 20px 30px 20px;
}

.about_div {
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.detailed__about__section {
    /* height:50vh; */

}

.about_title, .skill_intro, .experience_intro, .project_intro  {
    font-weight:800px;
    font-size:50px;
}

/* .about_title_div {
    height:100%;
    width:30%;
    background-color:#3b5998;
    display:flex;
    align-items:center;
    justify-content:center;
} */

.about__detail {
    text-align:center;
    width:60%;
    margin:0px auto 50px auto;
    color:#3b5998;
    /* box-shadow:1px 1px 10px 1px rgb(231, 228, 228); */
}

.skill_img_div, .image {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:10px;
    margin-bottom:10px;
}

.skill_image{
    width:50%;
}

.ml_proj_img {
    width:50%;
}

/* hr {
    display:inline;
} */

.skill_intro_div, .project_intro_div, .experience_intro_div, .about_title_div{
    color:#2E5090;
    margin: auto auto;
    text-align:center;
    font-weight: 800;
    font-size: 4vh;
    text-shadow: 2px 2px #f4b41a;
    border-radius:10px;
    padding:3px;
    margin-top:20px;
    margin-bottom:20px;
}

.connect_div {
    width:50%;
    margin: auto auto;
    text-align:center;
    font-weight: 600;
    font-size: 4vh;
    background-color: white;
    border-radius:10px;
    padding:3px;
    margin-top:20px;
    margin-bottom:20px;
}

.connect_intro {
    text-shadow: 2px 2px #f4b41a;
    color:#2E5090;

}

.about__desc {
    font-weight:750;
    font-size:7vw;
    margin:0px;
    text-align:center;
}

.skill_intro_div {
    width:100%;
}

.anchor_button, .anchor_button_foot {
    border:1px solid #3b5998;
    border-radius:3px;
    padding:10px;
    margin:10px; 
}

.anchor_button_res {
    border:1px solid #143d59;
    border-radius:3px;
    padding:7px;
    background-color: white;
    color:#143d59;
    font-size:23px;
    /* margin-top:100px; */
}

.anchor_button_res:hover {
    color:white;
    background-color:#143d59;
}

.anchor_button_foot {
    margin-left:10px;
    margin-bottom: 5vh;
}

.anchor_button_foot:hover, .anchor_button:hover {
    background-color:#3b5998;
    color:white;
}

.project_intro_div {
    width:100%;
    /* margin-bottom:20px; */
}

.experience_intro_div {
    width:100%;
    /* margin-bottom:20px; */
    /* margin-top:20px; */
}

.experience_div {
    width:95%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}

.exp_span_tags {
    color:#3b5998;
}

.ind_exp_div {
    display:flex;
    /* border:1px solid gray; */
    /* border-radius: 5px; */
    /* box-shadow:1px 1px 4px 2px gray; */
    background-color:white;
    padding:15px;
    margin-bottom:10px;
}

.exp_htags{
    margin:1px;
}

.exp_info {
    /* display:flex; */
    /* flex-direction:column; */
    padding:5px;
    flex:0.7;
}

.exp_img {
    width:45%;
    height:auto;
    margin:auto auto;
}

.exp_img_div{
    flex:0.3;
    display:flex;
    align-items:center;
    justify-content:center;
}

.fa-envelope {
    color:#3b5998;
    margin-left:0px;
}

.footer-hr {
    margin-bottom:0px;
}

.footer-nirbhay-final {
    width:85%;
    background-color:#202124;
    border-radius:15px;
    margin:15px auto 15px auto;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:30px 5px 30px 5px;
    /* background-color:#FFFFF0; */
}

.skill_container, .project-container, .ind_exp_div {
    animation-name: fade_in;
    animation-duration:2s;
    animation-timing-function: linear;
}

@keyframes fade_in {
    from {opacity:0}
    to {opacity:1}    
}

@media only screen and (max-width:1000px) {
    .projects-container {
        width:99%;
    }
}

/* @media only screen and (max-width:500) {
    .upper__content {
        width:100%;
    }
} */

@media only screen and (max-width:700px) {
    .upper__content, .footer-nirbhay-final {
        width:96%;
    }

    .fa-handshake-simple {
        display:none;
    }

    .project-container {
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }

    .projects-container {
        display:flex;
        flex-direction:column;
        width:100%;
    }

    .exp_img_div {
        margin-bottom:10px;
    }

    .my_name {
        font-size:8vw;
    }

    .about_div {
        width:95%;
    }

    .skills_section {
        flex-direction:column;
        width:80%;
    }

    .skill_container {
        width:100%;
        height:100%;
    }

    .experience_div {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }

    .ind_exp_div {
        width:95%;
        flex-direction:column;
    }
    .exp_img {
        width:20vw;
    }

    /* .detailed__about__section {
        flex-direction:column;
    } */

    .about_title_div {
        width:100%;
    }

    .about__detail {
        width:80%;
    }

    .about__desc {
        font-weight:900;
    }
    .skill_intro_div, .project_intro_div, .experience_intro_div, .connect_div {
        width:90%;
    }

    /* .credentials {
        display:flex;
        flex-direction:column;
    } */

    .anchor_button_foot {
        display:block;
    }
}

