{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/profile-picture.png' %}" />
    <script src="https://kit.fontawesome.com/74cf293773.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Nirbhay-Sharma</title>
    <link rel="stylesheet" href="{% static 'home.css' %}" />
</head>
<body>
    <div class="header">
        <div class="Name_div">
            <h2 class="Name"> Nirbhay Sharma </h2> 
            <i class="fa-solid fa-handshake-simple"></i>
        </div>
        <button class="resume__button" onclick="location.href='resume/'">Resume/CV</button>
    </div>

    <div class="about-section">
        <div class="about-content">
            <img src="{% static 'images/profile-picture.png' %}" class='profile-pic'/>
            <div class="name_div">
                <h1 class="my_name"> Nirbhay </h1>
                <h1 class="my_name"> Sharma </h1>
            </div>
        </div>
        <div class="about_div">
            <h2 class='about__desc' style="color:#3b5998">
                ML Engineer
            </h2>
        </div>
    </div>

    <div class="detailed__about__section"> 
        <div class='about_title_div'>
        <h2 class='about_title'> About Me </h2>
        </div>
        <hr/>
        <div class='about__detail'>
            <h3> Hi, I am Nirbhay Sharma. I have recently completed my B.Tech in Computer Science and Engineering (CSE) from IIT Jodhpur. I am a Machine Learning enthusiast and holds a good experience in Pytorch and Python. I really like reading new state-of-the-art research papers realated to ML and implementing them from scratch fascinates me. Apart from that, I have a keen interest in exercise and yoga to keep myself fit to learn the skills :). Hope you like my profile !!!. </h3>
            <a class = "anchor_button_res" href="https://drive.google.com/file/d/1s4TG8f-KUlHiDKEKxeYdNsH7od1BYdGf/view?usp=sharing">Resume <i class="fa-regular fa-file-pdf"></i></a>
        </div>
    </div>

    <div class="skill_intro_div">
        <h2 class='skill_intro'> Skills </h2>
    </div>

    <div class='skills_section'>
        {%for skill in skills%}
            <div class='skill_container'>
                <h3 class="skill_type"> {{skill.type}} </h3>
                <img class="skill_image" src="{%static skill.image %}"/>
                <hr/>
                <ul>
                    {%for each_skill in skill.list%}
                        <li> <h4> {{each_skill}} </h4> </li>
                    {%endfor%}
                </ul>
            </div>
        {%endfor%}
    </div>

    <div class="project_intro_div">
        <h2 class='project_intro'> ML Projects </h2>
    </div>

    <div class="projects-container">
        {% for work in projects %}
        {% if work.category == "ML/DL" %}
        <div class="project-container">
            {% comment %} div has an image, project-title, github url, live url (optional), description, category, techs  {% endcomment %}
            <div class='image'>
                <img src="{% static work.image %}"/>
                <hr/>
            </div>
            <div class="project-content">
                <h3 class="project-title"> {{work.title}} | {{work.category}} </h3>
                <div class="project-essentials"> 
                    <h5 class='tech-stack'> Tech: {{work.techs}} </h5>
                    <a class="anchor_button" href="{{work.github}}">Github <i class="fa-brands fa-github"></i></a>
                    {% if work.url %}
                        <a class="anchor_button" href="{{work.url}}">Live <i class="fa-brands fa-chrome"></i></i> </a>
                    {%endif%}
                    <h5 class='project-description'> {{work.description}}</h5> 
                </div>
            </div>

        </div>
        {%endif%}
        {%endfor%}
    </div>

    <div class="project_intro_div">
        <h2 class='project_intro'> Web-Dev Projects </h2>
    </div>

    <div class="projects-container">
        {% for work in projects %}
        {% if work.category == "web-dev" %}
        <div class="project-container">
            {% comment %} div has an image, project-title, github url, live url (optional), description, category, techs  {% endcomment %}
            <div class='image'>
                <img src="{% static work.image %}"/>
                <hr/>
            </div>
            <div class="project-content">
                <h3 class="project-title"> {{work.title}} | {{work.category}} </h3>
                <div class="project-essentials"> 
                    <h5 class='tech-stack'> Tech: {{work.techs}} </h5>
                    <a class="anchor_button" href="{{work.github}}">Github <i class="fa-brands fa-github"></i></a>
                    {% if work.url %}
                        <a class="anchor_button" href="{{work.url}}">Live <i class="fa-brands fa-chrome"></i></i> </a>
                    {%endif%}
                    <h5 class='project-description'> {{work.description}}</h5> 
                </div>
            </div>

        </div>
        {%endif%}
        {%endfor%}
    </div>


    <div class="experience_intro_div">
        <h2 class='experience_intro'> Research / Industry Experience </h2>
    </div>

    <div class='experience_div'>
        {%for exp in experience %}
            <div class='ind_exp_div'>
                <img class="exp_img" src="{%static exp.image %}" />
                <div class="exp_info">
                    <h3 class='exp_htags'> {{exp.title}} </h3>
                    <hr/>
                    <h4 class='exp_htags'> Supervisor: {{exp.under}} </h4>
                    <hr/>
                    <h4 class='exp_htags'> {{exp.duration}} </h4>
                    <hr/>
                    <h4 class='exp_htags'> {{exp.position}} </h4>
                    <hr/>
                    <h4 class='exp_htags'> {{exp.desc}} </h4>
                </div>
            </div>
        {%endfor%}
    </div>

    <div class="connect_div">
        <h2 class='connect_intro'> Connect </h2>
        <div class="footer-nirbhay">
            <div class="credentials">
                <a class='anchor_button_foot' href="https://www.github.com/nirbhay-design/"> Github <i class="fa-brands fa-github"> </i> </a>
                <a class='anchor_button_foot' href="https://www.linkedin.com/in/nirbhay-sharma-a2b846204/"> LinkedIN <i class="fa-brands fa-linkedin"></i> </a>
                <a class='anchor_button_foot' href="mailto:sharma.59@iitj.ac.in"> Mailto <i class="fa-solid fa-envelope"></i> </a>
            </div>
        </div>
    </div>

    {% comment %} <hr class='footer-hr'/> {% endcomment %}
    

    <div class='footer-nirbhay-final'>
        Made by @ Nirbhay-sharma
    </div>
</body>
</html>