{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/nirbhay_sharma_iisc.jpeg' %}" />
    <script src="https://kit.fontawesome.com/74cf293773.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Nirbhay-Sharma</title>
    <link rel="stylesheet" href="{% static 'home.css' %}" />
</head>
<body>

    <div class = "portfolio_div">

        <div class = "intro"> 
            <div class="Name_div">
                <h2 class="Name"> Nirbhay Sharma </h2> 
                <i class="fa-solid fa-handshake-simple"></i>
            </div>
            <button class="resume__button" onclick="location.href='http://github.com/nirbhay-design'">Github</button>
        </div>

        <div class = "ContentHeadline">
            <h2 class = "Title"> About Me </h2>
        </div>

        <h1 class ='greet'> Hi I am Nirbhay Sharma! </h1>

        <div class = 'portfolio_pic_div'>
            <img src="{% static 'images/nirbhay_sharma_iisc.jpeg' %}" class = "portfolio_pic"/>
        </div>
        
        <ul> 
        <li class = 'about_me_li'> Hi, I am Nirbhay Sharma. I am currently pursuing M.Tech in Artificial Intelligence (AI) from Indian Institute of Science (IISc) Bangalore. I have recently completed my B.Tech in Computer Science and Engineering (CSE) from IIT Jodhpur. I am a Machine Learning enthusiast and holds a good experience in Pytorch and Python. I really like reading new state-of-the-art research papers realated to ML and implementing them from scratch fascinates me. Apart from that, I have a keen interest in exercise and yoga to keep myself fit to learn the skills :). Hope you like my profile !!!.  </li>
        </ul>

        <div class = "ResumePdf"> 
            <button class="Resume" onclick="location.href='https://drive.google.com/file/d/15BtiMickjO3IvpfHos4nVI6hq543sWDI/view?usp=sharing'">Resume</button>
            <button class="Resume" onclick="location.href='https://drive.google.com/file/d/10VjLSHholafRPDIud4vwHMjT0SeCPdCi/view?usp=drive_link'"> Curriculum Vitae (CV)</button>
        </div>

        <div class = "ContentHeadline">
            <h2 class = "Title"> Education </h2>
        </div>

        <ul>
            <li> M.Tech Artificial Intelligence, Indian Institute of Science (IISc) Bangalore, CGPA: <strong> 8.7 </strong> /10, AIR-6 GATE DA </li>
            <li> B.Tech Computer Science and Engineering, Indian Institute of Technology (IIT) Jodhpur, CGPA: <strong> 8.97 </strong> /10 </li>
            <li> Class 12, PCM, Dehradun Public School, Percentage: <strong> 96.4 </strong> </li>
            <li> Class 10, SD Public School, CGPA: <strong> 10 </strong>/10 </li>
        </ul>

        <div class = "ContentHeadline">
            <h2 class = "Title"> Publications </h2>
        </div>

        <ul>
            <li> An Extremely Lightweight CNN Model For the Diagnosis of Chest Radiographs in Resource-constrained Environments, <i> International Journal of Medical Physics 2023 </i>, <a href="https://aapm.onlinelibrary.wiley.com/doi/abs/10.1002/mp.16722" > [Paper] </a> </li>
            <li> Aggregation-Assisted Proxyless Distillation: A Novel Approach for Handling System Heterogeneity in Federated Learning, <i> International Joint Conference on Neural Networks (IJCNN) 2024 </i>, <a href="https://ieeexplore.ieee.org/document/10650564" > [Paper] </a> </li> 
        </ul>

        <div class = "ContentHeadline">
            <h2 class = "Title"> Skills </h2>
        </div>

        {%for skill in skills%}
            <div class='skill_container'>
                <div class='skill_img_div'>
                    <img class="skill_image" src="{%static skill.image %}"/>
                </div>
                <div class="skill_list">
                    <h3 class="skill_type"> {{skill.type}} </h3>
                    <hr class='skill_hr'/>
                    {%for each_skill in skill.list%}
                        <h4, class='skill_h4'> {{each_skill}}, </h4>
                    {%endfor%}
                </div>
            </div>
        {%endfor%}

        <div class = "ContentHeadline">
            <h2 class = "Title"> Research / Industry Experience </h2>
        </div>

        <div class='experience_div'>
            {%for exp in experience %}
                <div class='ind_exp_div'>
                    <div class='exp_img_div'>
                        <img class="exp_img" src="{%static exp.image %}" />
                    </div>
                    <div class="exp_info">
                        <h2 class='exp_htags'> {{exp.institute}} </h2>
                        <hr/>
                        <div class='title_duration'>
                            <u> <h3 class='exp_htags'> {{exp.title}} </h3> </u>
                            <h4 class='exp_htags'> {{exp.duration}} </h4>
                        </div>
                        <h4 class='exp_htags'> <span class='exp_span_tags'>Supervisor:</span> {{exp.under}} </h4>
                        <h4 class='exp_htags'> {{exp.desc}} </h4>
                    </div>
                </div>
            {%endfor%}
        </div>

        <div class = "ContentHeadline">
            <h2 class = "Title"> Projects </h2>
        </div>

        <div class="projects-container">
            {% for work in projects %}
            <div class="project-container">
                <h3 class="project-title"> {{work.title}} | {{work.category}} </h3>
                <hr/>
                <div class="project-essentials"> 
                    <h5 class='tech-stack'> Tech: {{work.techs}} </h5>
                    <button class="anchor_button" onclick = "location.href='{{work.github}}'">Github <i class="fa-brands fa-github"></i></button>
                    {% if work.url %}
                        <button class="anchor_button" onclick = "location.href='{{work.url}}'">Live <i class="fa-brands fa-chrome"></i></i> </button>
                    {%endif%}
                    <h5 class='project-description'> {{work.description}}</h5> 
                </div>
            </div>
            {%endfor%}
        </div>

        <div class = "ContentHeadline">
            <h2 class = "Title"> Connect </h2>
        </div>
        

        <div class="credentials">
            <button class='anchor_button_foot' onclick="location.href='https://www.github.com/nirbhay-design/'"> Github <i class="fa-brands fa-github"> </i> </button>
            <button class='anchor_button_foot' onclick='location.href="https://www.linkedin.com/in/nirbhay-sharma-a2b846204/"'> LinkedIN <i class="fa-brands fa-linkedin"></i> </button>
            <button class='anchor_button_foot' onclick='location.href="mailto:sharma.59@iitj.ac.in"'> Mailto <i class="fa-solid fa-envelope"></i> </button>
        </div>


        <div class='footer-nirbhay-final'>
            Made by @ Nirbhay-sharma
        </div>
    </div>

</body>
</html>