{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/profile-picture.png' %}" />
    <title>Resume</title>
    <link rel="stylesheet" href="{% static 'resume.css' %}" />
</head>
<body>
    <div class="resume-container">
        <div class='head__title'> <span> <a href="https://github.com/nirbhay-design"> Github </a> </span> <span class="name__"> Nirbhay Sharma </span> <span> <a href="https://www.linkedin.com/in/nirbhay-sharma-a2b846204/"> Linkedin </a> </span> </div>
        <div class='head__title'> <span> <a href="mailto:sharma.59@iitj.ac.in"> Email </a> </span> <span> 9369630713 </span> <span> <a href="https://nirbhay-sharma.vercel.app/"> Portfolio </a> </span> </div>

        <h3>Education</h3>

        <hr/>

        <div class='head__title'> <span><strong>B.Tech</strong>, CSE | IIT Jodhpur </span> <span class="duration">Aug'19-May'23</span> </div>
        <div> CGPA: <strong>8.97</strong>/10 </div>

        <div class='head__title'> <span><strong>Class 12<sup>th</sup> </strong> | Dehradun public school </span> <span class="duration">Mar'18-Mar'19</span> </div>
        <div> Percentage: <strong>96.4%</strong> </div>

        <div class='head__title'> <span><strong>Class 10<sup>th</sup> </strong> | SD public school </span> <span class="duration">Mar'16-Mar'17</span> </div>
        <div> CGPA: <strong>10</strong> </div>

        <h3>Technical Skills</h3>

        <hr/>

        <div> <span><strong>Languages:</strong> </span> <span> Python, C/C++, HTML/CSS, Javascript, Haskell, Prolog</span> </div>
        <div> <span><strong>Tools and Frameworks:</strong> </span> <span>Pytorch, Sklearn, Numpy, Pandas, Matplotlib, Seaborn, Flask, Django, Regex, Heroku, Git, Github, Firebase, Mongodb, Mysql</span> </div>
        <div> <span><strong>Familier with:</strong> </span> <span>Tensorflow, Java, React, Nodejs, ejs, Google Colab, OpenCV</span> </div>

        <h3>Publications</h3>
        
        <hr/>

        <strong> <i> Nirbhay Sharma </i> </strong>, <i> Gautam Kumar </i>,  <i> Dr. Angshuman Paul </i>, "An Extremely Lightweight CNN Model For the Diagnosis of Chest Radiographs in Resource-constrained Environments". "International Journal of Medical Physics" 2023

        <h3>Research / Industry Experience</h3>

        <hr/>

        <strong> Print Generation </strong> | Pytorch, Python, GAN, Diffusion

        <div class="head__title"><span> <strong> Full Time </strong> (ML Engineer) | <strong> Faaya Astu </strong> India </span> <span class="duration"> Jun'23-Present </span> </div>

        <ul>
            <li>Studied <strong>Text To Image</strong> models for print/pattern generation using Text prompts</li>  
            <li>FineTuned <strong>GALIP</strong>, a <strong>GAN</strong> based model for <strong>Text to Pattern generation</strong> on <strong>AWS</strong> instance</li>
            <li>Implemented <strong>inference</strong> scripts for <strong>MiniGPT4</strong> for prompts refinement</li>
            <li>Currently exploring <strong>Diffusion</strong> models for <strong>Text to Pattern generation</strong></li>
        </ul>

        <strong>Split Neural Networks</strong> | Pytorch, Python, Jetson Nano, PySyft

        <div class="head__title"><span> <strong> Intern </strong> (ML Engineer) | <strong> ExaWizards </strong> India </span> <span class="duration"> Jun'22-July'22 </span> </div>
        
        <ul>
            <li>Splitted <strong>Mask-RCNN, FCN_Resnet50, YOLOv5</strong> for <strong>Instance segmentation, segmentation, face detection</strong> tasks</li>
            <li>Utilized <strong>Pysyft</strong> and <strong>Jetson Nano</strong> for transferring features from one device to another</li>
            <li>Implemented <strong>encoder-decoder</strong> architecture for <strong>tensor compression</strong></li>
            <li>Reduced <strong>inference time</strong> on Jetson nano device while preserving <strong>data privacy</strong></li>
        </ul>

        <strong>Noise Engineered Federated Distillation for Heterogeneous Settings</strong> | Pytorch, FL, Python

        <div class="head__title"><span><strong> Research Project</strong> | Supervisor: <strong> Dr. Deepak Mishra</strong>  | IIT Jodhpur</span> <span class="duration"> Aug'22-May'23 </span> </div>
        
        <ul>
        <li><strong>Proposed</strong> a <strong>novel</strong> Federated Learning Framework to handle <strong>model heterogeneity</strong> among clients</li>
        <li>Utilized the concept of <strong>Data-free KD</strong> for <strong>knowledge transfer</strong> from Client models to Server model </li>
        <li>Solved the issue of requirement of <strong>Generator or proxy dataset</strong> at server end for KD</li>
        <li>Utilized <strong>Gaussian Noise</strong> samples for Distillation </li>
        <li>Compared and <strong>analyzed</strong> our algorithm with state-of-the-art algorithms for <strong>Model heterogeneity</strong></li>
        <li><strong>Outperformed</strong> the <strong>relevant baselines</strong> in terms of <strong>test accuracy</strong> by a considerable margin</li>
        </ul>
        <strong>Light Weight CNN Model for Chest Radiographs Classification</strong> | Pytorch, Python, Torchvision, Numpy

        <div class="head__title"><span><strong> Research Project</strong> | Supervisor: <strong> Dr. Angshuman Paul</strong>  | IIT Jodhpur</span> <span class="duration"> Jun'21-Mar'22 </span> </div>
        <ul>
        <li>Designed a <strong>Lightweight CNN model</strong> for the abnormal detection of <strong>Chest Radiographs</strong></li>
        <li>Combined the ideas from <strong>Squeezenet</strong> and <strong>Mobilenet</strong> to prepare a Light weight model</li>
        <li>Our Model Outperforms various light weight CNN architectures like <strong>Squeezenet</strong>, <strong>Shufflenet</strong>, <strong>Mobilenet</strong> on NIH dataset both on binary and multiclass classification</li>
        <li>Our <strong>research paper</strong> recently got revised in <strong>Medical Physics Journal</strong></li>
        </ul>

        <strong>Cell Detection and Classification</strong> | Pytorch, Python, Torchvision, Numpy

        <div class="head__title"><span><strong> Research Project</strong> | Supervisor: <strong> Dr. Angshuman Paul</strong>  | IIT Jodhpur</span> <span class="duration"> Aug'22-Present </span> </div>

        <ul>

        <li> Detected and classified cells data sample into <strong>necrotic</strong> and <strong>apoptotic cells</strong></li>
        <li> Finetuned various SOTA object detectors such as <strong>YOLO</strong>, <strong>SSD</strong>, <strong>RetinaNet</strong>, <strong>DeTR</strong></li>
        <li> Achieved remarkable results using <strong>DeTR</strong> with a Mean Average Precision (MAP) of <strong>40.0</strong></li>

        </ul>
        <h3>Projects</h3>

        <hr/>

        <strong>Image Captioning using Detection Transformer (DeTR)</strong> | <a href="https://github.com/nirbhay-design/image-caption-detr">Github </a> | Pytorch, Python

        <ul>

        <li> Implemented <strong>DeTR</strong> (a <strong>transformer</strong> based object detector) from <strong>scratch</strong> using <strong>Pytorch</strong></li>
        <li> Modified <strong>DeTR</strong> architecture for <strong>image captioning</strong> task</li>
        <li> Trained <strong>DeTR</strong> on <strong>Flickr30k</strong> dataset for <strong>500</strong> epochs and evaluated on <strong>Flickr8k</strong> dataset using <strong>BLEU</strong> score</li>
        <li> Achieved a <strong>BLEU</strong> score of <strong>57.36</strong> on <strong>Flickr8k</strong> dataset</li>

        </ul>

        <strong>Regularizing Federated Learning (FL) via Adversarial Model Perturbations (AMP)</strong> | <a href="https://github.com/nirbhay-design/DAI_Project"> Github </a> | Pytorch, FL, Python


        <div><strong>Course Project</strong> | Supervisor: <strong>Dr. Richa Singh</strong> | IIT Jodhpur </div>
        <ul>
            <li> Compared and analyzed the effect of <strong>Adversarial Model Perturbations (AMP)</strong> on <strong>4</strong> state-of-the-art Federated Learning algorithms</li> 
            <li> Implemented <strong>FedAvg</strong>, <strong>FedProx</strong>, <strong>FedNTD</strong>, <strong>SCAFFOLD</strong> from <strong>scratch</strong></li>
            <li> Integrated the AMP module with aforementioned FL algorithms at client side</li>
            <li> Observed a boost of <strong>2-3%</strong> accuracy in each of the algorithm</li>
        </ul>

        <strong>CNN Algorithms Comparison</strong> | <a href="https://github.com/nirbhay-design/CNNAlgosComparison"> Github </a> | Pytorch, Numpy, Matplotlib, PIL, Python

        <div><strong>Course Project</strong> | Supervisor: <strong>Dr. Mayank Vatsa</strong> | IIT Jodhpur</div>
        <ul>
            <li> Compared <strong>7</strong> deep <strong>CNN</strong> architectures on <strong>Retinal Eye disease dataset</strong></li>
            <li> Implemented <strong>Squeezenet</strong>, <strong>Mobilenet</strong>, <strong>Inceptionnet</strong>, <strong>Shufflenet</strong>, <strong>Googlenet</strong>, <strong>Resnet</strong>, <strong>Efficientnet</strong> from <strong>scratch</strong></li>
            <li> Performed a comparison study among the state-of-the-art deep CNN architectures</li>
        </ul>

        <strong>Image Colorization</strong> | <a href="https://github.com/nirbhay-design/dlops-project"> Github </a> | Pytorch, Numpy, Matplotlib, PIL, Python

        <div><strong>Course Project</strong> | Supservisor: <strong>Dr. Mayank Vatsa</strong> | IIT Jodhpur </div>
        <ul>
            <li> Converted <strong>grayscale image</strong> to <strong>colored image</strong> using <strong>GAN</strong> architectures</li>
            <li> Implemented <strong>pix2pix</strong> GAN from scratch for the colorization task</li>
            <li> Performed colorization on <strong>LAB</strong> and <strong>RGB</strong> image format</li> 
        </ul>

        <strong>Mask-NoMask Detection</strong> | <a href="https://github.com/nirbhay-design/mask-nomask-classification"> Github </a> | Pytorch, Numpy, PIL, Matplotlib, Python

        <div><strong>Course Project</strong> | Supservisor: <strong>Dr. Richa Singh</strong> | IIT Jodhpur </div>
        <ul>
            <li> Detected <strong>5300</strong> images under masked and no masked category with an accuracy of <strong>99.6%</strong></li>
            <li> Used transfer learning with <strong>Mobilenet v2</strong> for classification task</li>
            <li> Combined the trained model with <strong>OpenCV</strong> for real time classification</li>

        </ul>

        <strong>PRA-Visualizer</strong> | <a href="https://github.com/nirbhay-design/pra-visualizer"> Github </a> | <a href="https://pra-visualizer.web.app/"> Url </a> | React, Nodejs, HTML, CSS, Firebase

        <div><strong>Course Project</strong> | Supservisor: <strong>Dr. Suchetna Chakraborty</strong> | IIT Jodhpur</div>
        <ul>
            <li> Implemented a <strong>Page replacement algorithm visualizer</strong> which simulates various page replacement algorithms given <strong>Frames</strong> and <strong>demand pages</strong></li>
            <li> Implemented <strong>10</strong> algorithms including <strong>LRU</strong>, <strong>Working set</strong>, <strong>FIFO</strong> etc. </li>
            <li> Implemented the visualization functionality of <strong> Page Fault </strong> & <strong> Page Hit </strong></li>
            <li> Added the functionality of <strong> Graphical Visualization </strong> of comparison among the algorithm </li>
            <li> Used <strong> React </strong> for frontend and <strong> Firebase </strong> for Deployment </li>
        </ul>

        <h3>Course-works</h3>

        <hr/>

        <div class="head__title"> <ul> <li> Pattern recognition & Machine learning </li>  <li> Deep Learning </li> <li> Dependable AI </li> <li> Time Series Analysis </li>  <li> Database Management Systems (DBMS) </li> <li> Cryptography </li> <li> Introduction to Blockchain </li>  <li> Operating systems </li>  <li> Probability & statistics </li> <li> Computer architecture </li> </ul></div>

    </div>
    <div class="footer-nirbhay">
        Made by @ <strong> Nirbhay-sharma </strong>
    </div>
</body>
</html>